{
	log {
		output file /var/log/caddy/access.log
		format json
	}
}

tech-radar.gci.my.id {
    root * /var/www/public
    php_fastcgi app:9000
    file_server
    try_files {path} {path}/ /index.php?{query}

    @phpFiles {
        path *.php
    }

	encode zstd gzip

    handle @phpFiles {
        php_fastcgi app:9000
    }

    handle {
        try_files {path} {path}/ /index.php?{query}
    }

    handle /\.ht* {
        respond 403
	}

	log {
		output file /var/log/caddy/tech-radar.log
		format json
	}
}

viz.tech-radar.gci.my.id {
	encode zstd gzip
	reverse_proxy http://radar_visualization:8081

	log {
		output file /var/log/caddy/viz-tech-radar.log
		format json
	}
}
