tech-radar.gci.my.id {
    root * /home/cto/tech-radar/public
    encode gzip zstd
    php_fastcgi unix//run/php/php8.2-fpm.sock
}

viz.tech-radar.gci.my.id {
	encode zstd gzip
	reverse_proxy http://localhost:8081
}
